<div class="container-fluid page" >

    <div class="card" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
  
      <div class="card-body">
          <!-- hello-text -->
          <div class="font-weight-bold" style="margin: 15px 15px 15px 15px ; font-style: oblique;">
              <h2>Hello !</h2>
          </div>
  
          <!-- Greeting-text -->
          <div class="text-center" style="margin-top: 20px; color: rgb(65, 134, 123);">
              <h3 class="card-title font-weight-bold"><strong>{{ greetFun() }} , Pragati !</strong></h3>
          </div>
  
          <!-- Welcome-text -->
          <div class="text-center" style="margin-top: 20px; ">
              <h3 class="card-subtitle mb-2">Welcome</h3>
          </div>
  
          <!-- Info-text -->
          <div class="text-center" style="margin-top: 20px; ">
              <h5 class="card-text mb-2">Welcome to Products App, Here you can add products and 
                  also view full product description.</h5>
          </div>
          
          <!-- Button -->
  
          <div class="text-center" style="margin-top: 30px;">
              <button type="button" (click)="openProductList()" class="btn btn-md text-white btn-rounded data-mdb-ripple-color" style="background-color: rgb(65, 134, 123);">Click Here</button>
              
          </div>
  
        
      </div>
     </div>
  
  </div>
  
