
.card{
    box-shadow: 10px 15px 15px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: white;
}
.page{

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(108, 199, 184),rgb(42, 94, 83));
}

.btn{
    background-image: linear-gradient(to bottom right, rgb(100, 199, 182),rgb(42, 94, 83));

}

.btn:hover{
    letter-spacing: 0.5px;

}
