.card{
    box-shadow: 10px 15px 15px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: white;
}
.page{

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 134, 123);
}

.btn:hover{
    letter-spacing: 0.5px;

}

